<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="STRING_CONNECT" value="server=localhost\SQLEXPRESS;database=dealhaydb;UID=sa;PWD=1111"/>
    <!--some file allow upload to server-->
    <add key="FILE_FORMAT_UPLOAD" value=".gif.jpg.jpeg.bmp.png"/>
    <!--Path Images banner default-->
    <add key="BannerMainPath" value="~/Images/MainBanner.gif"/>
    <!--user online-->
    <add key="UserOnline1" value="tuanvu_a6"/>
    <add key="ImagesOnline1" value="~/Images/hotro_on1.gif"/>
    <add key="ImagesOff1" value="~/Images/hotro_off2.gif"/>
    <add key="UserOnline2" value="duytnc"/>
    <add key="ImagesOnline2" value="~/Images/hotro_on1.gif"/>
    <add key="ImagesOff2" value="~/Images/hotro_off2.gif"/>
    <!--Images Vote-->
    <add key="PathImagesVote" value="~/Images/vote.gif"/>
    <add key="PathImagesVoteMid" value="~/Images/voteMid.gif"/>
    <add key="PathImagesVoteNull" value="~/Images/vote1.gif"/>
    <!--Config Send mail to your's friend-->
    <add key="FILE_FORMAT_UPLOAD" value=".gif.jpg.jpeg.bmp.png"/>
    <add key="MailServerNameSent" value="tuanvua6@gmail.com"/>
    <add key="PassWord" value="thaytuyen"/>
    <add key="MailHost" value="smtp.gmail.com"/>
    <add key="MailPort" value="25"/>
    <!--FCK editor-->
    <add key="FCKeditor:BasePath" value="~/FCKeditor/"/>
    <add key="FCKeditor:UserFilesPath" value="/images/FileUpload/"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>